* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuente);
}


/* =========================
   ESTRUCTURA GENERAL
========================= */

html,
body {
    width: 100%;
    min-height: 100%;
    scroll-behavior: smooth;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.pagina-interna{
    padding-top:100px;
    flex:1;
}

/* =========================
   SCROLLBAR
========================= */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
    background: rgba(17, 24, 39, 0.35);

    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(17, 24, 39, 0.55);
}

/* ======================================================================
   HAY QUE ARREGLAR EL RESPONSIVE Y CREAR UN ARCHIVO.CSS PARA ESTE MISMO
========================================================================= */

/* =========================
   TABLET
========================= */

@media (max-width: 1024px) {

    .navbar-container {
        grid-template-columns: 1fr 2fr 1fr;
    }

    .contenido-principal h1 {
        font-size: 46px;
    }

    .cards-container,
    .comentarios-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-container {
        flex-direction: column;
        gap: 40px;
    }

    .footer-links {
        gap: 50px;
    }
}

/* =========================
   CELULAR
========================= */

@media (max-width: 768px) {

    #navbar {
        height: auto;
        padding: 20px 0;
    }

    .navbar-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .nav-links {
        flex-wrap: wrap;
        gap: 15px;
    }

    .nav-extra {
        width: 100%;
        justify-content: center;
    }

    .buscador {
        width: 220px;
    }

    .buscador input {
        width: 100%;
    }

    #seccion-principal {
        text-align: center;
        min-height: 100vh;
    }

    .contenido-principal {
        padding: 0 25px;
    }

    .contenido-principal h1 {
        font-size: 38px;
        line-height: 1.15;
    }

    .contenido-principal p {
        font-size: 16px;
        max-width: 100%;
    }

    .titulo-seccion h2 {
        font-size: 32px;
    }


    .cards-container {
        grid-template-columns: 1fr;
    }

    .card img {
        height: 230px;
   }


    .comentarios-container {
        grid-template-columns: 1fr;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-logo p {
        max-width: 100%;
    }

    .footer-links {
        flex-direction: column;
        gap: 30px;
    }

    .menu-desplegable {
        width: 260px;
        left: 50%;
        transform: translateX(-50%);
    }

    .dropdown:hover .menu-desplegable,
    .menu-desplegable:hover {
        transform: translateX(-50%);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .chat-btn {
        width: 58px;
        height: 58px;
        font-size: 22px;
    }
}

